@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
$background: #457373;
$primary: #B6F2E1;
$secondary: #B6F2E1;
$extra: #443850;
$white: #EDDFEF;


    iframe{}

    body{
        background-color: $background;
        font-family: 'Merriweather', serif;
        color: $white;
    }
    
    input{
        width: 100%;
        height: 60px;
        border: 0px solid $white;
        border-bottom: 2px solid $primary ;
        font-size: 30px;
        margin-bottom: 10px;
        background-color: transparent;
        color: $white;
        font-family: 'Merriweather', serif;   
    }
    ::-webkit-input-placeholder { /* Edge */
    color: $primary;
    font-size: 30px;
    font-family: 'Merriweather', serif;
    }

    input:focus, textarea:focus, select:focus{
        outline: none;
        border-bottom: 2px solid $white ;
        font-family: 'Merriweather', serif;
    }
    button{
        width: 20%;
        height: 60px;
        background-color: $primary;
        border: $extra 3px solid;
        border-radius:7px;
        color: $background;
        font-size: 30px;
        font-family: 'Merriweather', serif;
        cursor: pointer; 
    }
    .container {
    display: flex;
    }
    
    .container > div {
    flex: 1; /*grow*/
    }

    .logoicon{
        font-size: 40px;
        color: $secondary;
    }
    .buggy{
        text-align: end;
        font-size: 30px;
        color: $extra;
    }

    .container2 {
    display: flex;
    margin-block: 50px;
    }

    img{
        border-radius:10px;
        -webkit-box-shadow: 0px 0px 36px 13px $extra; 
        box-shadow: 0px 0px 36px 13px $extra;
    }

    .imageplaylist{
        margin-inline: 100px;
    }

    .tablemusics{
        margin-top: -20px;
        width: 100%;
    }

    table, th, td {
    border: 3px solid $extra;
    color: $white;
}

    table{
        width: 80%;
    }

    a:visited{
        color:$secondary;
    }

    a{
        text-decoration: none;
        color: $secondary;
    }
